<!-- stock-movements-component.component.html -->
<div class="stock-movements-container">
  <h1>Deyişiklik Yapılan 
     Stok Hareketleri</h1>

  <!-- Stok hareketlerinin listelendiği tablo -->
  <table *ngIf="stockMovements && stockMovements.length > 0; else noDataTemplate">
    <thead>
      <tr>
        <th>Ürün ID</th>
        <th>Miktar</th>
        <th>Tür</th>
        <th>Açıklama</th>
        <th>Tarih</th>
        <th>İşlemler</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stockMovement of stockMovements">
        <td>{{ stockMovement.productId }}</td>
<td>{{ stockMovement.quantity }}</td>
<td>{{ stockMovement.type }}</td>
<td>{{ stockMovement.description }}</td>
<td>{{ stockMovement.date | date: 'dd/MM/yyyy' }}</td>

      <!-- <td>
          <button (click)="selectStockMovement(stockMovement)">Düzenle</button>
        </td>

        --> 
      </tr>
    </tbody>
  </table>

  <!-- Eğer veri yoksa gösterilecek mesaj -->
  <ng-template #noDataTemplate>
    <p>Henüz stok hareketi bulunmamaktadır.</p>
  </ng-template>

  <!-- Güncelleme formu -->
  <div *ngIf="selectedStockMovement.ProductId">
    <h2>Stok Hareketi Güncelleme</h2>
    <form (ngSubmit)="updateStockMovement()">
      <label for="productId">Ürün ID:</label>
      <input type="number" [(ngModel)]="selectedStockMovement.ProductId" name="productId" required />
      <label for="quantity">Miktar:</label>
      <input type="number" [(ngModel)]="selectedStockMovement.Quantity" name="quantity" required />
      <label for="type">Tür:</label>
      <select [(ngModel)]="selectedStockMovement.Type" name="type" required>
        <option value="giriş">Giriş</option>
        <option value="çıkış">Çıkış</option>
      </select>
      <label for="description">Açıklama:</label>
      <input type="text" [(ngModel)]="selectedStockMovement.Description" name="description" />
      <label for="date">Tarih:</label>
      <input type="date" [(ngModel)]="selectedStockMovement.Date" name="date" required />

      <button type="submit">Güncelle</button>
    </form>
  </div>
  <h1>ÜRÜNLER</h1>
  <tr>
      <th>ID</th>
      <th>Ad</th>
      <th>Açıklama</th>
      <th>Fiyat</th>
      <th>Stok</th>
      <th>Oluşturulma Tarihi</th>
      <th>Kategori ID</th>
      <th>İşlem</th>
    </tr>
 <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price | currency }}</td>
      <td>{{ product.stock }}</td>
      <td>{{ product.createdDate | date: 'dd/MM/yyyy' }}</td>
      <td>{{ product.categoryId }}</td>
      <td>
        <button class="btn btn-sm btn-outline-primary" >
         Stok Miktarını  Düzenle
        </button>
      </td>
    </tr>

  

</div>

